@charset "UTF-8";

*{
    margin: 0px;
    
}

@font-face {
    font-family: 'titulo';
    src: url('fontes/passion/PassionOne-Regular.ttf') format('truetype'), url('fontes/passion/PassionOne-Bold.ttf') format('truetype'),
    url('fontes/passion/PassionOne-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'texto';
    src: url('fontes/sriracha/Sriracha-Regular.ttf') format('truetype');
}

body{
    background-color: rgb(109, 109, 109);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10vh;
}

header > h1{
    font-family: 'titulo';
    font-size: 8vw;
    font-variant: small-caps;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: yellow;
    text-decoration: underline;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    font-family: 'texto';
    font-size: 3vw;
    background-color: white;
}

section > p{
    padding: 2vh;
}

.img1{
    background-color: white;
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 15px 3px rgba(0, 0, 0, 0.63);
}

.img1 > p{
    background-color: rgba(0, 0, 0, 0.527);
    display: inline-block;
    color: white;
    padding: 2vw;
    border-radius: 10px;
}

.img2{
    background-color: white;
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 15px 3px rgba(0, 0, 0, 0.63);
    
}

.img2 > p{
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 5px 20px black;
    padding: 2vw;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7vw;
}

